@media screen and (max-width: 1200px) { 
  .container__menu-title > h1{
    font-size: 3rem;
  }
  
  .container__menu-title > h2{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 500px) { 
  .container__menu-title > h1{
    font-size: 2.5rem;
  }
  
  .container__menu-title > h2{
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) { 
  .container__menu-title > h1{
    font-size: 2rem;
  }
  
  .container__menu-title > h2{
    font-size: .8rem;
  }
}