<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="../../assets/img/appRide.jpg"
      cardTitle="CONHEÇA O MAIS NOVO PROJETO COM GEOLOCALIZAÇÃO!"
      cardDescription="O AppRide é um projeto que utiliza geolocalização para fornecer diversas informações sobre suas atividades físicas diárias."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="TaskMaster: Tudo que você precisa em um só gerenciador de tarefas."
      photoCover="../../assets/img/taskMaster.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Que tal relembrar um pouco do clássico jogo da velha. "
      photoCover="../../assets/img/jogoDaVelha.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Mais um clássico jogo! Jogue agora o jogo da memória."
      photoCover="../../assets/img/jogoMemoria.jpg"
    >
    </app-small-card>
  </div>
</div>
