<!-- Partes do software Bootstrap Icons são sujeitas à licença MIT (https://github.com/twbs/icons/blob/main/LICENSE). -->

<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/gabrielmorozini/"><span class="bi bi-linkedin social"> Linkedin</span></a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/GabrilMorozini"><span class="bi bi-github social"> Github</span></a></li>
    <li><span>•</span></li>
    <li><a href="https://gabrielmorozini.com.br/"><span class="bi bi-globe social"> Portfólio</span></a></li>
    <li><span>•</span></li>
    <li><a href="mailto:gabril.dev@gmail.com"><span class="bi bi-envelope-at-fill social"> Email</span></a></li>
  </ul>
</div>
