/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(130deg,  rgb(0, 1, 61), rgb(70, 0, 64));
}

a{
  text-decoration: none;
}
